---
import logo from '../static/images/logo.svg';
---

<header class="header">
  <div class="container">
    <div class="logo">
      <a href="/">
        <img src={logo.src} alt="Logo" />
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
  </div>
</header>

<style lang="sass">
  .header
    height: 70px
    background: var(--color-primary)

  .container
    height: 100%
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 20px

  img
    height: 35px
    vertical-align: middle

  nav
    ul
      display: flex

      li
        padding: 0 10px

        a
          color: #fff
</style>